<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <h6 class="head"><%= link_to "ToDo", root_path, id: "logo" %></h6>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",   about_path %></li>
      </ul>
    </nav>
  </div>
</header>
